@model BankingApp.ViewModels.LoanViewModel
<br />
<br />
<h2 style="color:red">Loan Page</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeALoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverFirstName" class="control-label"></label>
                <input asp-for="ReceiverFirstName" class="form-control" />
                <span asp-validation-for="ReceiverFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverLastName" class="control-label"></label>
                <input asp-for="ReceiverLastName" class="form-control" />
                <span asp-validation-for="ReceiverLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration_in_Months" class="control-label"></label>
                <input asp-for="Duration_in_Months" class="form-control" />
                <span asp-validation-for="Duration_in_Months" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Start_Date" class="control-label"></label>
                <input asp-for="Loan_Start_Date" class="form-control" />
                <span asp-validation-for="Loan_Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountTaken" class="control-label"></label>
                <input asp-for="AmountTaken" class="form-control" />
                <span asp-validation-for="AmountTaken" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>